extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th= t('views.fields.id')
        th= t('views.users.fullName')
        th= t('views.users.email')
        th= t('views.fields.createdAt')
        th= t('views.fields.actions')
    tbody
      if (users)
      each user in users
        tr
          td= user.id
          td= user.name
          td= user.email
          td= formatDate(user.createdAt)
          td
              a(href=route('editedUser', { id: user.id }))= t('views.fields.edit')
              +buttonTo(route('deleteUser', { id: user.id }), 'delete')(class="btn" value=t('views.fields.delete'))